{% extends 'ProyectoWEBapp/base.html' %}

{% load static %}

{% block content %}
  <!-- Contenido de la página -->
  <section>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h1 class="text-center text-white">Blog</h1>
          <p class="lead text-center text-white">Aquí el blog</p>
          <div class="text-center">
            {% for post in posts %}
              <div class="bg-dark text-light p-4 my-3 rounded position-relative shadow-lg">
                <h2 class="text-white">{{ post.titulo }}</h2>
                <p class="text-secondary">{{ post.contenido }}</p>
                <img width="60%" class="img-fluid rounded shadow" src="{{ post.imagen.url }}" alt="" />
                <div class="position-absolute bottom-0 end-0 p-2">
                  <p class="text-light" style="opacity: 0.75;">Autor: {{ post.autor }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Sección de categorías mejorada -->
  <section class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h2 class="text-center text-white mb-4">Categorías</h2>
          <a href="{% url 'categorias' categoria.id %}">
            <div class="d-flex flex-wrap justify-content-center">
              {% for post in posts %}
                {% for categoria in post.categoria.all %}
                  <span class="badge bg-primary m-2">{{ categoria.nombre }}</span>
                {% endfor %}
              {% endfor %}
            </div>
        </a>
            <div class="d-flex flex-wrap justify-content-center">
                <a href='/blog'>
                    <span class="badge bg-primary m-2">Volver</span>
                </a>
              </div>

        </div>
      </div>
    </div>
  </section>
{% endblock %}
