{% extends "ProyectoWEBapp/base.html" %}

{% load static %}

{% block content %}

    <!-- Contenido de la página -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center text-white">Blog</h1>
                <p class="lead text-center text-white">Aqui el blog</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary btn-lg">Saber más</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}