{% extends "ProyectoWEBapp/base.html" %}
{% load static %}

{% block content %}

<!-- Heading -->
<section class="page-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="intro-img">
          <img class="img-fluid rounded" src="{% static 'ProyectoWEBapp/img/principal.jpg' %}" alt="Imagen Principal">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="intro-text bg-dark text-white p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Puntualidad</span>
            <span class="section-heading-lower">El mejor stock</span>
          </h2>
          <p class="mb-4">Recibe tus pedidos en la puerta de tu casa en menos de 48 horas con envío normal o en menos de
            24 horas con envío express.</p>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Message -->
<section class="page-section text-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="cta-inner text-center rounded p-5">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Compromiso total</span>
            <span class="section-heading-lower">Garantizado</span>
          </h2>
          <p class="mb-0">Con más de 75 años de experiencia, en Gestión de Pedidos tenemos los conocimientos y
            herramientas necesarios para llevar cualquier objeto a la puerta de tu casa con puntualidad y
            profesionalidad.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}